@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400;500;600&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: hsl(0, 0%, 81%);
}

img {
    border-radius: 50%;
}

.cards {
    margin: auto;
    margin-top: 8vh;
    max-width: 1440px;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.card-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    border-radius: 16px;
    background-color: hsl(263, 55%, 52%);
    background-image: url("/images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: 470px top;
    color: white;
    padding: 1em;
}

.card-2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    border-radius: 16px;
    background-color: hsl(217, 19%, 35%);
    color: white;
    padding: 1em;

}

.card-5 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    border-radius: 16px;
    background-color: hsl(0, 0%, 100%);
    padding: 1em;
}

.card-3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    border-radius: 16px;
    background-color: hsl(0, 0%, 100%);
    padding: 1em;
}

.card-4 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    border-radius: 16px;
    background-color: hsl(219, 29%, 14%);
    color: white;
    padding: 1em;
}

.name-holder {
    display: flex;
    align-items: center;
}

.job,
.name {
    padding-left: 20px;
}

.color-bg {
    color: hsl(210, 46%, 95%);
    font-weight: 500;
    line-height: 1.5;
    opacity: 0.7;
}

.pale-bg {
    color: black;
    font-weight: 600;
    line-height: 1.5;
    opacity: 0.5;
}

.thinner {
    font-weight: 400;
}

.thinner-2 {
    font-weight: 500;
}

.name-color {
    color: hsl(0, 0%, 81%);
    font-weight: 600;
}

.name-color-black {
    color: black;
    font-weight: 600;
    opacity: 0.7;
}

.h2-black {
    color: black;
    opacity: 0.7;
}

h2 {
    font-size: 28px;
}